@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff82;
  color: #333;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600; 
  color: #333; 
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}